* {
  margin: 0%;
  padding: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
   
    background-color: #FFFF;
}

:root {
  --backgroundHeader: #F08C65;
  --backgroundBody: #EBEBEB;
  --backgroundPesquisar: #f3f4f6;
  --fontFamilyPadrao: Arial, Helvetica, sans-serif;
}

/* ============================================================ */
header{
    background-color:  var(--backgroundHeader);
    max-width: 100%;
    min-width: 320px; 
    padding: 20px;
    margin-bottom: 10px;
}

header h1{
  color: #574944;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.356);
}
#post{
  border-top: 1px dashed black;
}
input{
  max-width: 900px;
  min-width: 200px;
  border: none;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
 
}
#btn-coment{
  background-color: #797878;
  color: #F08C65;
  font-size: 1.5em;
 
}
#btn-coment:hover{
  background-color: #574944;
  color: #EBEBEB;
  cursor: pointer;
}

textarea{
  border: 5px;
  max-width: 900px;
  min-width: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  display: block;

}
.imagem-responsiva{
  width: 100%;
 
}
.navigation-header a{
  display: flex;
  display:inline-block;
  font-size: 1em;
  color: #ffff;
}

.navigation-header a{
margin: 5px; 
text-decoration: none;
font-weight: bold;
padding: 10px;
}
.navigation-header a:hover{
  text-decoration: underline;
  transition: 1s;
  color: #574944;
  background-color: #FFFF;
}

.after-header{
  background-color: #797878;
  box-shadow: 0px 0px 10px #797878;
  font-size: 1.5em;
  text-align: center;
  color:#FFFF;
  max-width: 900px;
  min-width: 320px;
  padding: 20px;
  margin: auto;
  border-radius: 10px 10px 0px 0px;
}

main{
  background-color: #EBEBEB;
  box-shadow: 0px 0px 10px #797878;
  max-width: 900px;
  min-width: 320px;
  padding: 20px;
  margin: auto;
}
main span{
  font-size: 1.5em;
  text-decoration: none;
  color: #EBEBEB;
  cursor: pointer;
  background-color: #574944;
  padding: 10px;
}
main h1{
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #574944;
  font-family: Arial, Helvetica, sans-serif;
}

main h2{
padding-left: 20px;
  color: #F08C65;
  font-family: Arial, Helvetica, sans-serif;
}
main p{
  text-align: justify;
  line-height: 1.5em;
  margin: 20px;
}

footer{
  text-align: center;
  margin: 20px;
}

footer p a{
  color:#797878;
text-decoration: none;
padding: 10px;
font-size: 1.2em;
}
#response{
  background-color: #797878;
  color: #574944;
  padding: 20px;
  margin: 10px;
  font-size: 1.5em;
  border-radius: 5px;
}
#response:hover{
background-color: #574944;
color: #EBEBEB;
cursor: pointer;
}
footer p a:hover{
  color:#F08C65;
text-decoration: underline;

}
